In [49]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as pt
import plotly.express as px
from sklearn.preprocessing import LabelEncoder

In [50]:
data=pd.read_csv('Customertravel.csv',delimiter=",")

In [51]:
data.head()

,Age,FrequentFlyer,AnnualIncomeClass,ServicesOpted,AccountSyncedToSocialMedia,BookedHotelOrNot,Target
0,34,No,Middle Income,6,No,Yes,0
1,34,Yes,Low Income,5,Yes,No,1
2,37,No,Middle Income,3,Yes,No,0
3,30,No,Middle Income,2,No,No,0
4,30,No,Low Income,1,No,No,0

EDA

In [52]:
data.isnull().sum()

Age                           0
FrequentFlyer                 0
AnnualIncomeClass             0
ServicesOpted                 0
AccountSyncedToSocialMedia    0
BookedHotelOrNot              0
Target                        0
dtype: int64

In [53]:
data.shape

(954, 7)

In [54]:
data.describe()

              Age  ServicesOpted      Target
count  954.000000     954.000000  954.000000
mean    32.109015       2.437107    0.234801
std      3.337388       1.606233    0.424097
min     27.000000       1.000000    0.000000
25%     30.000000       1.000000    0.000000
50%     31.000000       2.000000    0.000000
75%     35.000000       4.000000    0.000000
max     38.000000       6.000000    1.000000

In [55]:
data.columns

Index(['Age', 'FrequentFlyer', 'AnnualIncomeClass', 'ServicesOpted',
       'AccountSyncedToSocialMedia', 'BookedHotelOrNot', 'Target'],
      dtype='object')

In [56]:
data.sample(5)

,Age,FrequentFlyer,AnnualIncomeClass,ServicesOpted,AccountSyncedToSocialMedia,BookedHotelOrNot,Target
183,27,No,Low Income,5,No,No,1
544,34,No,Low Income,1,No,Yes,0
715,30,No,Low Income,2,No,Yes,0
773,34,Yes,High Income,1,No,No,0
896,36,No,Middle Income,3,Yes,Yes,0

In [57]:
label=LabelEncoder()

In [58]:
col = data.select_dtypes(include=['object']).columns
for i in col:
    data[i] = label.fit_transform(data[i])

In [59]:
data.sample(5)

,Age,FrequentFlyer,AnnualIncomeClass,ServicesOpted,AccountSyncedToSocialMedia,BookedHotelOrNot,Target
181,28,2,1,4,1,0,1
833,34,2,0,5,0,0,0
807,29,0,2,5,1,0,0
410,30,0,2,3,0,1,0
460,27,0,1,1,1,1,0

In [60]:
from sklearn.model_selection import train_test_split

In [63]:
x_data=data.drop(columns=['Target'])
x_data

,Age,FrequentFlyer,AnnualIncomeClass,ServicesOpted,AccountSyncedToSocialMedia,BookedHotelOrNot
0,34,0,2,6,0,1
1,34,2,1,5,1,0
2,37,0,2,3,1,0
3,30,0,2,2,0,0
4,30,0,1,1,0,0
...,...,...,...,...,...,...
949,31,2,1,1,0,0
950,30,0,2,5,0,1
951,37,0,2,4,0,0
952,30,0,1,1,1,1
953,31,2,0,1,0,0

In [64]:
y_data=data['Target']
y_data

0      0
1      1
2      0
3      0
4      0
      ..
949    0
950    0
951    0
952    0
953    0
Name: Target, Length: 954, dtype: int64

In [65]:
x_train,x_test,y_train,y_test=train_test_split(x_data,y_data,test_size=0.15)

In [66]:
from sklearn.linear_model import LogisticRegression

In [71]:
from sklearn.metrics import classification_report

In [67]:
model=LogisticRegression()

In [68]:
model.fit(x_train,y_train)

LogisticRegression()

In [69]:
y_pred=model.predict(x_test)

In [73]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.93      0.89      0.91       120
           1       0.55      0.67      0.60        24

    accuracy                           0.85       144
   macro avg       0.74      0.78      0.76       144
weighted avg       0.87      0.85      0.86       144